@media only screen and (min-width: 32.5em){
    header {
        display: grid;
        padding: 5px;
        /* margin: 10px 10px 30px 10px; */
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    footer {
        /* margin: 30px 10px 10px 10px; */
        font-size: 13px;
    }
    h1 {
        font-size: 2.8vw;
        align-self: center;
        font-weight:900;
        color: rgb(20, 16, 16);
    }
    h2 {
        font-size: 20px;
        font-weight:800;
        text-shadow: none;
    }
    ul {
        font-size: 18px;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav li {
        margin: 1vh 0px 1vh 2vw;
        font-weight: 600;
        list-style: none;
        font-size: 1.6rem;
    }
    .title h1{
        text-align: justify;
        padding-left: 2%;
        font-size: 2rem;
        font-weight:800;
        text-shadow: none;
    }
    
    .grid-container {
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
    
      .card{
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 30px;
        box-shadow: 0rem 0rem .5rem rgb(36, 34, 34);
        border-radius: 5px;
      }
    
      .cardtitle{
        background-color: rgb(26, 77, 158);
        color: azure;
        text-align: center;
        /* margin-top: -4%; */
      }
    
      .cardtitle h2{
        text-align: center;
        font-size: 2rem;
        font-weight:800;
        text-shadow: none;
        margin: 0;
      }
    
      #menu {
		display: none; /* hide hamburger button */
	}

    .navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
    section.contact-info {
        position: relative;
        /* left: 1rem; */
        /* width: 100%; */
        padding: 1rem;
        display: grid;
        background-color: var(--default-dark);
        grid-template-columns: 50% auto;
        box-shadow: 0 0 10px var(--default-dark);
    }
    section.contact-info iframe {
        width: 90%;
        height: 200px;
        grid-column: 1;
        grid-row: span 3;
        border: 0;
    }
    section.contact-info h3, section.contact-info ul {
        margin-top: 0;
        color: var(--default-light);
    }
    section.contact-info ul {
        margin-bottom: 0;
    }
    section.contact-info li {
        padding-top: 3px;
    }
    section.contact-info li i {
        transition: transform 0.5s, color 0.3s;
    }
    section.contact-info li:hover i {
        color: var(--main-color);
        transform: scale(1.5);
    }
    section.contact-info div.social-links {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3,50px);
        justify-items: center;
        align-items: flex-start;
        padding-left: 35px;
    }
    div.social-links a {
        width: 36px;
        height: 37px;
        overflow: hidden;
    }
    div.social-links .fa-google-plus-square,
    div.social-links .fa-facebook-square,
    div.social-links .fa-flickr {
        color: var(--default-light);
        transition: transform 0.5s;
        font-size: 40px;
    }
    div.social-links .fa-google-plus-square:hover {
        cursor: pointer;
        color: tomato;
    }
    div.social-links .fa-facebook-square:hover {
        cursor: pointer;
        color: royalblue;
    }
    div.social-links .fa-flickr:hover {
        cursor: pointer;
        background: linear-gradient(90deg, royalblue, deeppink);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    

}